<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <!--<h2 class="footer-heading">{{ site.title | escape }}</h2>-->

    <p>About Colophon Contact</p>
    <p>RSS Twitter Email</p>
    <p>&#169; 2020-2020 The Evryday Playground Company LLC</p>

    <ul>
      <li class="p-name">
      <li>About Colophon Contact</li>
      <li>RSS Twitter Email</li>
      <li>&#169; 2020-2020 The Evryday Playground Company LLC</li>
    </ul>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">
            <!--{%- if site.author -%}
              {{ site.author | escape }}
            {%- else -%}
              {{ site.title | escape }}
            {%- endif -%}
            </li>
            {%- if site.email -%}
            <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {%- endif -%} -->
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <!--{%- include social.html -%}-->
      </div>

      <div class="footer-col footer-col-3">
        <!--<p>{{- site.description | escape -}}</p>-->
      </div>
    </div>

  </div>

</footer>
